.footer {
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 20px 12em;
    justify-content: space-between;
}

img{
    padding-top: 10px;
}

ul {
    display: flex;
    flex-direction: row;  
    font: 500 1.125rem/1.35 "Poppins", sans-serif;
    list-style: none;

}

li {
    padding: 0 20px;
}