* {
    margin: 0;
    color: white;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 100%; 
    background-image: url('./imgs/poster.png');
    background-repeat: space;
    background-position-y: 35%;
    background-size: cover;
    
}
.container {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);   
}

.menu ul {
    display: flex;
    flex-direction: row;    
    list-style-type: none;
    padding: 2em 30vw;
    justify-content: space-between;
    align-items: flex-end

}

ul li, .red{
    cursor: pointer;
}

a{
    text-decoration: none;
}

.info_serie {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.titulo {
    font-size: 35px;
}

.genero {
    font-size: 14px;
    font-weight: 400;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: end;    
}

.episodios {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
}

.card-episodio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 135px;
    background-color: #E5E5E5;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
.card-episodio2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 115px;
    background-color: #E5E5E5;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

.card-episodio3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 115px;
    background-color: #E5E5E5;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}
.red{
    color: red;
}

.m-t-14 {
    margin-top: 14px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-28 {
    margin-bottom: 28px;
}

.m-t-56 {
    margin-top: 56px;
}

.poster {
    width: 392px;
}

.ph-30 {
    padding-left: 10%;
    padding-right: 60px;
}

.gap-25 {
    gap:25%;
}

.pt-10 {
    padding-top: 5%;
}

.social {
    width: 30px;
    height: 160px;
    position: absolute;
    right: 3%;
    top: 50%; 
    transform: translate(-50%, -50%);
}

.social img{
    padding-bottom: 2em;
    cursor: pointer;
}

button{
    width: 40px;
    height: 40px;
    border: none;
    background: none;
}